<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>水果店</title>
</head>
<body>
    <p style="color:blue;">
        <span>{{ first_store.name }}</span>
        <span> {{ first_store.city }}</span>
        <span> {{ first_store.address }}</span>
    </p>
    <ul>
        {% for store in stores %}
            <li>{{ forloop.counter }} {{ store.name }}:{{ store.city }} - {{ store.create_time }}</li>
        {% endfor %}

    </ul>
</body>
</html>