<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>主页</title>
    {% include 'base_css.html' %}
</head>
<body>
<h3>{{ msg }}</h3>
<p style="color: green">
    第三个用户名： {{ users.2.name }}
</p>
<p style="color: red;">
    请客的人： {{ error_index }}
</p>
<p style="color: white;background-color:blue;">
    <span>VIP:</span>
    <span>{{ vip.name.upper }}-{{ vip.money }}</span>
</p>
<ul>
    {% for key, value in vip.items %}
       <li>{{ key }} = {{ value }}</li>
    {% endfor %}

</ul>
<ul>
    {% for user in users %}
        <li>{{ user.id }} {{ user.name }}</li>

    {% endfor %}
</ul>

{% include 'base_js.html' %}
</body>
</html>